.login-container {
  width: 450px;
  overflow: hidden;
  padding: 50px;
  padding-top: 40px;
  background: lightblue;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.register-container {
  width: 450px;
  overflow: hidden;
  padding: 50px;
  padding-top: 40px;
  background: lightblue;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Register {
  padding-top: 60px;
}

.Login {
  padding-top: 60px;
}

.header {
  text-align: center;
}

.noAccount {
  text-align: center;
}

a:link {
  text-decoration: none;
  font-weight: bold;
}

.yesAccount {
  text-align: center;
}

.register-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 325px;
  height: 40px;
  border: 5px;
}

.login-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 325px;
  height: 40px;
  border: 5px;
}

.home-title {
  color: pink;
  margin-left: 20px;
}

.blog-title {
  color: pink;
  margin-left: 20px;
}

.init-DB {
  color: lightblue;
  margin-right: 22px;
  margin-left: auto;
  background: none;
  border: none;
  font-weight: bold;
}

.blog {
  color: lightblue;
  margin-right: 22px;
}

.home {
  color: lightblue;
  margin-left: auto;
  margin-right: 22px;
}

.new-blog {
  color: lightblue;
  margin-right: 22px;
}

.Blog {
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 120px;
}

.sign-out-btn {
  color: lightblue;
  padding-right: 20px;
}

.postBtn {
  margin-top: 20px;
}

.blog-container {
  background: lightblue;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.image-card {
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 20px;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.fill {
  font-weight: lighter;
}

.comment-container {
  margin-left: 20px;
  border-radius: 10px;
}

.submit-button {
  margin-top: 25px;
  width: 300px;
  margin-left: 20px;
}

.create-blog-btn {
  padding-left: 100px;
}

.drop-down {
  padding-left: 20px;
  padding-top: 5px;
}

.tags-container {
  padding: 2px 20px;
}

.card{
  margin-right: 5px;
  padding: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5%;
  float: left;
  color: deeppink;
}

.profile-container{
  margin: auto;
  width: 50%;
  justify-content: center;
  text-align: center;
  padding:20px;
}
.profile-picture{
  height: 200px;
  width: 200px;
  border-radius: 30px;
}